<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Car's photo</title>
</head>

<body>

<div th:if="${uploadedFile}">
    <h2> Uploaded File Details </h2>
    <table>
        <tr>
            <td th:text="${uploadedFile.fileName}">File Name</td><br>
            <td th:text="${uploadedFile.mime}">File Type:</td><br>
            <td th:text="${uploadedFile.url}">URL :</td>
        </tr>
    </table>
</div>
<div>
    <h2> Uploaded New File </h2>
    <form method="POST" enctype="multipart/form-data" action="/carsad/photo-upload">
        <table>
            <tr><td>File to upload 1:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>

    <form action="#" th:action="@{carsad/photo-upload2}" th:object="${carsAd}" method="POST">
        <table>
            <tr><td>File to upload 1:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>




</body>
</html>
